form{
    display: grid;
    margin: 10px auto;
    
}
.form-item{
    border: none;
    background-color: #dbdbdb;
    font-size: .8em;
    border-radius: .2em;
    padding: 5px;
}
.form-item:nth-child(1){
    margin: 15px 0;
    height: 2.2em;
}
.form-item:nth-child(2){
    margin-bottom: 15px;
    height: 2.2em;
}
.buttons{
    margin: 5px 0;
    background-color: transparent;
    border: 2px solid;
    width: 100%;
    padding: 5px;
    font-size: .8em;
}
.buttons:hover{
    border: 2px solid blue;
    cursor: pointer;
}
.contactIcon{
    width: 20px;
    margin-top: 20px;
}